doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="shortcut icon", href="/img/pizza.png", type="image/x-icon")
    link(rel="stylesheet", href="/css/style.css")
    title Botopizza
  body
    header.header
      .header-img
        img(src="/img/pizza.png", alt="Image of pizza")
      h1 Botopizza
    section.orders
      h2.orders-title Заказы, полученные ботом в Slack
      ul.orders-list
        each order in orders
          li.orders-item
            .orders-item__data
              .orders-item__text ID покупателя: 
                case order.user
                  when undefined
                    span.orders-item__user Не заполнено
                  default
                    span.orders-item__user= order.user
              .orders-item__text Название пиццы: 
                case order.pizzaName
                  when undefined
                    span.orders-item__pizza Не заполнено
                  default
                    span.orders-item__pizza= order.pizzaName
              .orders-item__text Размер пиццы: 
                case order.pizzaSize
                  when undefined
                    span.orders-item__size Не заполнено
                  default
                    span.orders-item__size= order.pizzaSize + 'см'
              .orders-item__text Адрес покупателя: 
                case order.address
                  when undefined
                    span.orders-item__address Не заполнено
                  default
                    span.orders-item__address= order.address
              .orders-item__text Статус заказа: 
                case order.status
                  when undefined
                    span.orders-item__status Не заполнено
                  default
                    span.orders-item__status= order.status
            .orders-item__btns
              .orders-item__btns-title Изменение статуса:
              button.orders-item__btn.orders-item__submit Подтверждён
              button.orders-item__btn.orders-item__deny Отклонён
              button.orders-item__btn.orders-item__done Доставлен
        
    script(src="/js/script.js")